{% extends 'shared/_nav.html' %}


{% block content_main %}



<p id="incoming_message"></p>


<div id="main-display" class="container d-flex flex-row">
    <div id="antenna-interface" class="card d-flex flex-column m-1 rounded">
        <div class="border-bottom text-center">
            <h4 class="m-auto p-2">Base</h4>
        </div>
        <div class="card-header d-flex flex-row justify-content-between">
            <span>Antenna Control</span>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="manualOverride">
                <label class="form-check-label" for="manualOverride">Auto</label>
            </div>
        </div>
        <div class="card-body d-flex flex-row overflow-hidden p-1">
            <div id="elevation-slider-wrapper" style="display:none;">
                <div id="elevation-slider"></div>
            </div>
            <div class="m-auto" style="padding: 0 10px;">
                <span id="antenna-side">
                    <img id="antenna-side-base-image" src="../static/images/antenna_base_side.png">
                    <img id="antenna-side-image" src="../static/images/antenna_side.png"> 
                </span>
                <div id="antenna-elevation-value" class="text-center"></div>
            </div>
        </div>
        <div class="card-body d-flex flex-row p-1">
            <div id="azimuth-slider-wrapper" style="display:none;">
                <div id="azimuth-slider"></div>
            </div>
            <div class="m-auto">
                <span id="antenna-top">
                    <img id="antenna-compass-image" src="../static/images/compass.png">
                    <img id="antenna-top-image" src="../static/images/antenna_top.png"> 
                </span>
                <div id="antenna-azimuth-value" class="text-center"></div>
            </div>
        </div>
        <div class="card-header border-top">
            Data
        </div>
        <div class="card-body">
            <form>
                <label>Coordinates</label>
                <input class="form-control" id="base-coordinates" readonly>
                <label>Temperature</label>
                <input class="form-control" id="base-temperature" readonly>
                <label>Altitude</label>
                <input class="form-control" id="base-altitude" readonly>
            </form>
        </div>
    </div>

    <div id="map-container">
        <div class="w-100 rounded" id="map"></div>
    </div>
    
    <div id="device-interface" class="border d-flex flex-column m-1 rounded">
        <div class="border-bottom text-center">
            <h4 class="m-auto p-2">Device</h4>    
        </div>
        <div class="card-header">
        Input
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <form id="outbound-message-send">
                <label for="outbound-message">Message device</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="outbound-message" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
            <fieldset class="form-group border d-flex flex-column p-1 rounded">
                <div class="row mb-1">
                    <div class="col col-3 m-auto">
                        <label for="ping-websocket">Server</label>
                    </div>
                    <div class="col d-block">
                        <input class="form-control w-100" id="ping-websocket" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col col-3 m-auto">
                        <label for="ping-hc12">Device</label>
                    </div>
                    <div class="col d-block">
                        <input class="form-control w-100" id="ping-hc12" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col col-3 m-auto">
                        <label for="ping-total">Total</label>
                    </div>
                    <div class="col d-block">
                        <input class="form-control w-100" id="ping-total" readonly>
                    </div>
                </div>
                <button id="ping-button" class="btn btn-primary">Ping</button>   
            </fieldset>
        </div>
        <div class="card-header border-top">
            Data
        </div>
        <div class="card-body">
            <form>
                <label>Coordinates</label>
                <input class="form-control" id="mobile-coordinates" readonly>
                <label>Temperature</label>
                <input class="form-control" id="mobile-temperature" readonly>
                <label>Altitude Difference</label>
                <input class="form-control" id="mobile-altitude-difference" readonly>
            </form>
        </div>
    </div>
</div>

{% endblock %}