





body:before {
    content: ' ';
    background-image: url(./images/background.png);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

nav {
    z-index: 999 !important;
}

#map { 
    width: 100%; 
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

#map-container {
    margin: 5px;
}

#main-display > * {
    flex: 1 !important;
}

.tick {
    color: white !important;
}

.control-interface-card {
    flex: 1;
    background-color: white;
}

#base-control-card {
    min-width: 390px !important;
}

.dropdown-menu > li:hover > .nested-dropdown {
    display: block;
}

.nested-dropdown {
    display: none;
    position: absolute;
    right: 99%;
    top: 70px;
}

label[for='manualOverride'] {
    min-width: 60px;
}


#elevation-slider-wrapper {
    overflow: hidden;
    padding-left: 20px;
    max-width: 130px;
}

#elevation-slider {
    margin-left: 15px;
    top: 10px;
}

#elevation-slider .rs-tooltip  {
    left: 35%;
}

#azimuth-slider {
    margin-left: 10px;
    left: 20px;
    top: 5px;
}

#azimuth-slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 5px;
}

#antenna-side {
    position: relative;
    height: 130px;
    width: 200px;
    display: block;
}

#antenna-side-base-image {
    width: 120px;
    position: absolute;
    left: 42px;
    top: 30px;
}

#antenna-side-image {
    width: 200px;
    position: absolute;
}


#antenna-top {
    position: relative;
    height: 220px;
    width: 220px;
    display: block;
}

#antenna-compass-image {
    width: 220px;
    position: absolute;
}

#antenna-top-image {
    width: 120px;
    position: absolute;
    top: 48px;
    left: 51px;
}

.container {
    max-width: 1450px !important;
}