

#map { 
    width: 25vw;
    height: 80vh;
}


.control-interface-card {
    flex: 1;
}

.dropdown-menu > li:hover > .nested-dropdown {
    display: block;
}

.nested-dropdown {
    display: none;
    position: absolute;
    right: 99%;
    top: 70px;
}